* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f9f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #3F4021;
    color: white;
    text-align: center;
    padding: 20px;
}

.catalogo {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 30px;
}

.produto {
    background-color: white;
    border: 2px solid #3F4021;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.produto:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.produto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto h2 {
    color: #696b3a;
    margin-bottom: 8px;
}

.preco {
    font-size: 18px;
    font-weight: bold;
    color: #080804;
}

.gramas {
    font-size: 15px;
}


footer {
    background-color: #3F4021;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 35px;
}

.botao-wpp {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

.icon-insta {
    position: fixed;
    bottom: 40px;
    left: 20px;
}

.btn-comprar {
    display: block;
    margin-top: 12px;

    width: 100%;
    padding: 10px;

    background-color: #3F4021;
    color: white;
    text-decoration: none; 
    text-align: center;

    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-comprar:hover {
    background-color: #262712;
    transform: scale(1.03);
}

.btn-comprar:active {
    transform: scale(0.98);
}